.modal__overlay {
  position: fixed;
  z-index: 999;
  background: rgba(21, 22, 25, 0.5);
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &.dark {
    background: rgba(124, 129, 135, 0.5);
  }
  .modal__container {
    position: absolute;
    top: 255px;
    right: 0;
    left: 0;
    margin: auto;
    background: #ffffff;
    border-radius: 4px;
    height: 218px;
    max-width: 343px;
    z-index: 9999;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    &.dark {
      background: #1d1f22;
      &--title {
        color: #ffffff;
      }

      &--description {
        color: #c1c4cb;
      }
    }

    &--title {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: #35393f;
      &.dark {
        color: #ffffff;
      }
    }

    &--description {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #7c8187;
      &.dark {
        color: #c1c4cb;
      }
    }
  }
}
