.header {
  background: #2b2d31;
  height: 56px;
  width: 100vw;
  display: flex;

  path {
    cursor: pointer;
    &:hover {
      fill: #e46643;
    }
  }

  &__menu {
    background: #35393f;
    padding: 21px 18px;
    width: 56px;
    cursor: pointer;
    &:hover{
      background-color: #e46643;
    }
    img {
      width: 23px;
      height: 14px;
      object-fit: cover;
      cursor: pointer;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--file {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 24px;
      padding-top: 24px;
      padding-bottom: 24px;
      gap: 16px;

      .header__info--wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 4px;
        .file__title {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 13px;
          line-height: 15px;
          color: #7c8187;
          // display: none;
        }

        .file__name--input {
          border: none;
          outline: none;
          background: none;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #ffffff;
          cursor: pointer;
          padding-bottom: 5px;
          caret-color: #E46643;
          border-bottom: 1px solid transparent;
          &:focus{
            border-bottom: 1px solid white;
          }
        }
      }
    }

    &--controls {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      gap: 24px;
      .icon__wrapper {
        width: 40px;
        height: 40px;
        background: #e46643;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
