.sidebar {
  background: #1d1f22;
  width: 100vh;
  min-height: 100vh;
  max-height: 667px;
  width: 0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  display: none;
  &.show {
    min-width: 250px;
    padding: 28px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .information {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    &__header {
      font-family: 'Commissioner';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 5px;
      color: #ffffff;
      margin-bottom: 4px;
    }
    &__controls {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 24px;
      flex-direction: column;
      max-height: 500px;
      overflow: scroll;

      &--title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #7c8187;
      }

      .information__file {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        &--details {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;
          cursor: pointer;
          .file__date {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
            color: #7c8187;
          }
          .file__name {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .theme {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    justify-self: flex-end;
    .toggle__container {
      background: #5a6069;
      border-radius: 14.5px;
      width: 48px;
      height: 24px;
      padding: 6px;

      &--circle {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: white;
        transition: 0.5s all ease;

        &.dark {
          transform: translateX(200%);
        }
      }
    }
  }
}
